.heading {
    font-size: xx-large;
    margin-bottom: 1em;
}

.divTextImg {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-grow: 4;
    margin: 5vw 5vw 10vw;
    flex-wrap: wrap;
    height: 60vh;
    overflow: hidden;
}

.paragraph {
    text-align: justify-all;
    font-size: x-large;
    max-width: 40vw;
    @media (max-width: $mantine-breakpoint-md) {
        max-width: 80vw;
        font-size: larger;
    }
}

.img {
    max-width: 80%;
    max-height: 75vh;
    @media (max-width: $mantine-breakpoint-md) {
        margin: 1.5em;
    }
}
